name: Lint

on:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest

    name: Lint

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup PHP
        uses: shivammathur/setup-php@2.35.5

      - name: Install dependencies
        uses: ramsey/composer-install@v3
        with:
          dependency-versions: "highest"

      - name: Execute code standard tests
        run: composer run-script lint
